{% extends "page.html" %}
{% set page_title = "Wer bin ich?" %}
{% set page_description = "Die Beschreibung über meinen professionellen Profil und eine kleine Geschichte über mich" %}
{% set disable_comments = True %}

{% block page_content %}
    <h1>{{page_title}}</h1>
    <p>Mein Name ist Rodrigo <del><small>Henrique</small></del> Paiva, ich bin in 
    Guarulhos, SP, Brasilien geboren und arbeite seit 2003 mit Web-Entwicklung. 
    <strong>Das ist die <abbr title="Too Long; Didn't Read">tl;dr</abbr></strong> Version über mich, aber es gibt auch <a href="#longerStory">eine längere</a> für die, wer sich
    für Geschichten interessiert :)</p>
    <p>Ich bin Autodidakt und habe 2001 über Web-Entwicklung
    zu lernen angefangen, und 2003 habe ich in diesem Bereich zu arbeiten angefangen.
    Ich bin ein full-stack Entwickler, der sowohl mit Frontend als auch Backend
    der Anwendung arbeitet. Obwohl ich stärkere Fähigkeiten mit Backend habe,
    lerne ich auch gern über andere Sachen, die zur Umgebung einer Anwendung gehören, 
    von ihrer Konzeption bis zu ihrer Entwicklung und Einsetzung.</p>

    <h2>Interessen</h2>
    <ul>
        <li><a href="http://de.wikipedia.org/wiki/Serviceorientierte_Architektur"><abbr title="Service Oriented Architecture" rel="external">SOA</abbr></a></li>
        <li>Web-Architektur</li>
        <li>Agile practices</li>
        <!-- i know this is semantically another UL -->
        <li>Backend: PHP 5.3+, <a href="http://phalconphp.com" rel="external">Phalcon PHP</a>, 
            Python, <a href="http://flask.pocoo.org/" rel="external">Flask</a>, 
            <a href="http://www.tornadoweb.org" rel="external">Tornado</a>, NoSQL, 
            Node.js, Grunt.
        </li>
        <li>Frontend und <abbr title="User Experience">UX</abbr>: HTML5 und seine APIs, Javascript, Benutzerfreundlichkeit, Barrierfreiheit, Webstandards,
        Semantisches Web, Wireframes, Responsive Layouts, CSS Pre-processors.
        </li>
        <li>Linux</li>
        <li>Sprachen</li>
        <li>Musik und Gitarre spielen</li>
        <li>Sport (Fußball, Schwimmen und Joggen)</li>
    </ul>

    <h2>Kontakt</h2>
    <p>Sie sind alle bei der Fußzeile. Es gibt auch meine E-mail <strong>rhpaiva at gmail.com</strong> und meinen Twitter <a href="http://twitter.com/paivarh" rel="external">@paivarh</a> (selten benutzt).</p>

    <section id="longerStory">
        <h1>Die längere Geschichte</h1>
        <p>2001, als ich 16 war, bin ich Neugier drauf geworden, wie die Internet
        Seiten funktionieren. Deswegen habe ich begonnen, mich über dieses Thema
        zu informieren. Nachdem ich es herausgefunden habe, was ich zur Ersetzung 
        von HTML Seiten bräuchte, habe ich mich dran erinnert, dass ich ein kleines
        Buch von einem Informatikkurs über HTML hatte, deswegen habe ich davon gelernt.
        Obwohl es ein sehr kleines Buch war, war das genug, um zu lernen, was ich
        für meine ersten Experimente gebraucht habe.</p>

        <h2>Da kommt IRC</h2>
        <p>Wegen meiner Neugierigkeit auf HTML, habe ich 
        <abbr title="Internet Relay Chat"><strong>IRC</strong></abbr> zu nutzen angefangen,
        um Hilfe in Kanälen, wie #webmasters, im alten Netzwerk <strong>Brasnet</strong> 
        nachzufragen (später bin ich sogar <abbr title="Operator">OP</abbr> drin geworden).
        Zuerst war ich erst drin, um Hilfe zu bekommen, aber als meine Kenntnisse 
        besser geworden sind, habe ich auch anderen Leuten zu helfen angefangen. 
        Deswegen habe ich einige Leute kennengelernt, die parallel zu mir
        angefangen haben und im Endeffekt ausgezeichnete Professionals geworden sind.</p>

        <h2>Wie kann ich dynamische Sachen schaffen?</h2>
        <p>Im Jahr 2001, nach der <em>"erfolgreichen"</em> Erstellung meiner ersten
        Website, die ich in einem kostenlosen Server gehostet, ein WordArt 
        <em>"Logo"</em> gemacht und viele modischen/exotischen Javascripts 
        implementiert habe, habe ich gemerkt, dass mir nur HTML nicht genug war. 
        Dementsprechend habe ich herausgefunden, dass ich Server-Seite Programmierung zur Einfügung von Dateien nutzen konnte. Das war fantastisch!
        Das war der Moment, wo ich immer mehr über Server-Seite Technologien zu lernen angefangen habe und ich habe deswegen <strong><abbr title="Active Server Pages">ASP</abbr></strong> entdeckt. Ich habe mein erstes Buch über Programmierung 
        (Die ASP Bibel mit mehr als 1000 Seiten) gekauft und habe es die ganzen 
        Tage durchgelesen. Je mehr ich in diesem Buch gelesen habe, desto mehr wollte
        ich es lernen. Programmieren und beobachten, wie Dinge durch Code funktionieren, 
        waren faszinierend!</p>

        <h2>Der Anfang einer Fahrt</h2>
        <p>2002 habe ich ein Praktikum bei Ford Motors Brasilien gemacht, wo ich
        anderen Mitarbeitern mit Bürokratie des Büros geholfen habe. Das war
        mein einziger Job, der nich im IT Bereich war. Wegen dieses Jobs, musste ich 
        tagsüber arbeiten und abends zum Gymnasium gehen. 
        Dementsprechend musste ich für eine Weile mit IT Kram aufhören.</p>

        <p>2003 habe ich ein Praktikum bei einer kleinen Firma im Elektronik-Bereich
        gemacht, wo ich das interne ERP-System mit ASP und MySQL weitergemacht habe.
        Von diesem Moment an habe ich nicht mehr mit IT zu arbeiten aufgehört und
        seit 2004 arbeite ich mit <strong>PHP</strong>.</p>

        <p>Ich habe schon für kleine, mittelgroße und große Firmen gearbeitet.
        Ich habe schon Intranets für das Bundesministerium für Gesundheit Brasiliens und
        für japanische staatlichen Organisationen; Ecommerce und Institutionelle Websites;
        eigenenentwickelte Auszeichnungssprache mit Parser für Templates von einem
        Manager für tematische Portale; ein Helpdesk-System für eine Hosting-Plattform;
        ein ERP-System für Läden und deren Filiale und so weiter entwickelt...</p>

        <p>Seit 2007 arbeite ich mit <strong>Webstandards</strong> und 
        <strong>Semantisches Web</strong> und evangelisiere ich meine Kollegen 
        an diesen Praktiken, egal wo oder an welchem Projekt ich seitdem arbeite.</p>

        <h2>Neugier aufs Lernen</h2>
        <p>Ich interessiere mich auch für <strong>Frontend (UX)</strong> und deren
        Technologien, wie <strong>Benutzerfreundlichkeit</strong>, 
        <strong>Barrierfreiheit</strong>, <strong>Wireframes</strong> 
        (ich nutze Balsamiq), <strong>SEO</strong> und <strong>Responsive Layouts</strong>.</p>

        Ich bin ein Fan von <strong>CSS Prozessoren</strong> (ich nutze LESS), 
        <strong>Sublime Text</strong>, <strong>Emmet</strong> und 
        <strong>Grunt</strong>, aber ich schreibe noch gern einfache Javascript
        (oder mit JQuery), und ich bin nocht nicht von Coffeescript überzeugt.

        <p>Ich glaube, dass ich <strong>Python</strong> nocht nicht kann, 
        trotzdem werde ich das erreichen :). Ich lerne auch <strong>Node.js</strong>
        und ihr Ökosystem und finde es echt wunderbar, wie viel Javascripts
        Ökosystem sich verbessert hat, seitdem ich mit dieser Sprache angefangen habe.</p>

        <h2>Also... nur IT? Was ist es mit anderen Sachen?</h2>
        <p>Nein... Ich interessiere mich auch für Sprachen (die menschlichen), 
        andere Kulturen, Gitarre spielen, Fußball, Schwimmen und Joggen 
        (ich versuche mindestens 15 km pro Woche zu laufen).</p>
    </section>
{% endblock %}