{% extends "page.html" %}
{% set page_title = "Testando tags!" %}
{% set page_description = "" %}
{% set post_tags = "test,oi,nois" %}
{% set post_date = "2013-12-12" %}

{% block page_content %}
    {{ macros.post_base({'title': page_title, 'date': post_date, 'tags': post_tags}, lang, vars) }}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis modi maiores harum beatae impedit? Quidem, distinctio, similique cumque dignissimos beatae voluptatum quae ab ullam molestiae fugit soluta fugiat cupiditate doloribus libero rerum sit maxime officiis aliquam temporibus ratione repudiandae est dolor reprehenderit. Dignissimos, magni harum quaerat fugiat cumque sapiente unde autem praesentium perspiciatis nihil? Accusantium, necessitatibus, debitis eaque libero vitae possimus delectus mollitia iure vero omnis dolorum esse aut amet tempore veniam dolorem ullam beatae quia fugit eos nihil earum quaerat. Dignissimos, tempore, itaque, necessitatibus vel pariatur recusandae iusto porro consectetur at architecto omnis hic harum. A, dolorum similique aspernatur?</p>

{{ macros.snippet(

'.lang-pt:hover {
    background: @base-color-pt;
}
.lang-en:hover {
    background: @base-color-en;
}
.lang-de:hover {
    background: @base-color-de;
}'

, 'css') }}
    <section>
        <h2>h2 cutie!</h2>
        <p>Lorem ipsum dolor <a href="http://www.oi.com">ordinary link</a> sit amet, consectetur adipisicing elit. Sequi, nihil, placeat iusto magnam autem explicabo laborum id ad ullam inventore pariatur <a href="http://www.facebook.com/rhpaiva">and that's my FB profile</a> consequuntur corporis et quasi iste molestiae repellat adipisci eum voluptate a alias vero ipsa. Officiis, delectus nostrum maiores necessitatibus atque sequi ut ipsum illo earum quisquam provident voluptatibus odio.</p>
    </section>
{% endblock %}