{% extends "page.html" %}
{% set page_title = "Who am I?" %}
{% set page_description = "Description about my professional profile and a bit of story about me" %}
{% set disable_comments = True %}

{% block page_content %}
    <h1>{{page_title}}</h1>
    <p>My name is Rodrigo <del><small>Henrique</small></del> Paiva, I was born in 
    Guarulhos, SP, Brazil and work with web development since 2003. <strong>This is the <abbr title="Too Long; Didn't Read">tl;dr</abbr></strong> version about me,
    but there's <a href="#longerStory">the longer one</a> for the
    ones interested in stories :)</p>

    <p>I'm a self-taught person, began studying about web development in 2001 and
    in 2003 began working in this area. I'm a full-stack developer who works both
    with front and backend sides of applications. Despite having stronger skills
    in the backend, I like to learn about the other processes that surround the 
    an application, from its conception to its development and deploy.</p>

    <h2>Interests</h2>
    <ul>
        <li><a href="http://en.wikipedia.org/wiki/Service-oriented_architecture"><abbr title="Service Oriented Architecture" rel="external">SOA</abbr></a></li>
        <li>Web architecture</li>
        <li>Agile practices</li>
        <!-- i know this is semantically another UL -->
        <li>Backend: PHP 5.3+, <a href="http://phalconphp.com" rel="external">Phalcon PHP</a>, 
            Python, <a href="http://flask.pocoo.org/" rel="external">Flask</a>, 
            <a href="http://www.tornadoweb.org" rel="external">Tornado</a>, NoSQL, 
            Node.js, Grunt.
        </li>
        <li>Frontend and <abbr title="User Experience">UX</abbr>: HTML5 and its APIs, Javascript, Usability, Accessibility, Webstandards,
        Semantic Markup, Wireframes, Responsive Layouts, CSS Pre-processors.
        </li>
        <li>Linux</li>
        <li>Languages</li>
        <li>Music and playing guitar</li>
        <li>Sports (football, swimming and running)</li>
    </ul>

    <h2>Contact</h2>
    <p>They are all down there at the footer. There's also my e-mail <strong>rhpaiva at gmail.com</strong> and my Twitter <a href="http://twitter.com/paivarh" rel="external">@paivarh</a> (which I barely use).</p>

   <section id="longerStory">
        <h1>The longer story</h1>
        <p>In 2001, when I was 16, I got curious to know how internet pages work
        and began to inform myself about this topic. After figuring out that
        I needed to learn HTML to create websites, I remembered that I had a small
        HTML book from an informatic course that I attended when I was 14, so I
        started stuyind it.
        It was a very small book but enough to learn what I needed for my first
        experiments.</p>

        <h2>There comes IRC</h2>
        <p>Because of my curiosity for HTML, I started accessing the 
        <abbr title="Internet Relay Chat"><strong>IRC</strong></abbr> 
        in order to ask for help in channels like #webmasters (I even became 
        later an <abbr title="Operator">OP</abbr>) in the old network 
        <strong>Brasnet</strong>. At first I used to access them
        just to ask for help and didn't interact with the users that much, but
        as my knowledge got bigger, I started helping out other uses as well. 
        Because of that, I got to meet some guys who started by the same time
        as me and who turned out to become excellent professionals.</p>

        <h2>How can I create dynamic stuff?</h2>
        <p>In the same year of 2001, after the <em>"well succeeded"</em> creation
        of my first website, which I hosted in a free server, with a 
        <em>"logo"</em> done on WordArt from MS Word and many fancy/exotic 
        javascripts, I realized that HTML was not enough for me. This way I found out
        that I could use server side programming to include files.
        That was fantastic! That's when I started studying more and more about
        doing things on the server and discovered 
        <strong><abbr title="Active Server Pages">ASP</abbr></strong>. 
        I bought my first programming book (The ASP Bible with more than 1000 pages)
        and began reading it through. I was reading that book all day long and, 
        the more I learned, the more I wanted to learn. Programming and watching
        things happen through code was fascinating!</p>

        <h2>The start of a journey</h2>
        <p>In 2002 I took part in a program as intern for Ford Motors Brazil where
        I worked assisting with office (not the MS one) bureaucracy for other 
        employees and that was my only job unrelated to IT. Because of this job, 
        I had to work during the day and finish high school at night, this way 
        in this year I had to stop studying IT stuff for a while.</p>

        <p>In 2003 I got an internship for a small company in the eletrocnics 
        business where I continued the development of their internal ERP made in
        ASP with MySQL. From that moment on I haven't stopped working with IT and
        since 2004 I work with <strong>PHP</strong>.</p>

        <p>I've already worked for small, medium and big companies. 
        I've developed intranets for the Brazilian Ministry of Health and Japanese
        Government entities, ecommerce and institutional websites, 
        a proprietary markup language with parser for templates used in a manager
        for thematic portals, a system for ticket resolution (helpdesk) in a hosting
        platform, an ERP for stores and its branches, etc...</p>

        <p>Since 2007 I've been working with <strong>webstandards</strong> and <strong>semantic markup</strong> and I've been evangelizing those practices
        in every place and project that I've worked since then.</p>

        <h2>Curiosity for learning</h2>
        <p>I'm also interested in <strong>Frontend (UX)</strong> and its related 
        technologies such as <strong>Usability</strong>, <strong>Accessibility</strong>,
        <strong>Wireframes</strong> (I use Balsamiq), <strong>SEO</strong> and
        <strong>Responsive Layouts</strong>.</p>

        I became a fan of <strong>CSS pre-processors</strong> (I use LESS), 
        <strong>Sublime Text</strong>, <strong>Emmet</strong> and 
        <strong>Grunt</strong>, but I still like to write plain Javascript
        (or with JQuery), and I'm not yet convinced that Coffeescript is useful.

        <p>I think I still don't know <strong>Python</strong>, but I'm on my way
        to achieve it :). I also study <strong>Node.js</strong>, its ecosystem, 
        and find it really awesome how much Javascript's ecosystem has evolved
        since I've started learning this language..</p>

        <h2>So... only IT? What about other things?</h2>
        <p>Nope... I'm also interested in languages (the human ones), 
        other cultures, playing guitar, football (not the one played with hands),
        swimming and running (I try to run at least 15 km every week).</p>
    </section>
{% endblock %}