*, *:before, *:after {
    #BoxModel > .border;
}

html[lang='en'] {
    border-top: 5px solid @base-color-en;

    .post-tag {
        background: lighten(@base-color-en, 30%);
    }

    .snippet {
        background: fade(@base-color-en, 10%);

        code {
            border: 1px solid lighten(@base-color-en, 35%);
            background: fade(#fff, 90%);
        }
    }
}
html[lang='pt'] {
    border-top: 5px solid @base-color-pt;

    .post-tag {
        background: lighten(@base-color-pt, 20%);
    }

    .snippet {
        background: fade(@base-color-pt, 10%);

        code {
            border: 1px solid lighten(@base-color-pt, 20%);
            background: fade(#fff, 90%);
        }
    }
}
html[lang='de'] {
    border-top: 5px solid @base-color-de;

    .post-tag {
        background: lighten(@base-color-de, 40%);
    }

    .snippet {
        background: fade(@base-color-de, 10%);

        code {
            border: 1px solid lighten(@base-color-de, 40%);
            background: fade(#fff, 90%);
        }
    }
}

body {
    margin: 20px;
}

a {
    #Fx > .transition(color);
    color: @link-color;
    text-decoration: none;

    &:hover,
    &:visited:hover {
        color: @link-color-hover !important;
        text-decoration: underline;
    }
}

strong, b {
    font-weight: 400;
}

#me {
    font-weight: 300;
    text-align: center;
    #Shadow > .text(@text-color-shadow, 1px, 1px, 0);

    img {
        border: 1px solid transparent;
        margin-left: 20px;
        #Border > .rounded(1000px);
        #Shadow > .custom(0 0 0 2px fade(#000, 20%));
        #Fx > .transition;

        &:hover {
            #Shadow > .custom(0 0 0 5px fade(#000, 50%));
        }
    }

    a {
        color: @text-color-light;
        text-decoration: none;

        &:hover {
            color: @link-color-hover;
        }
    }
}

.nav-languages,
.nav-menu {
    display: inline-block;
    #Reset > .marginPadding;

    li {
        #Reset > .marginPadding;
        display: inline-block;
    }

    a {
        font-weight: 400;
        padding: 8px 10px;
        #Fx > .transition(background);

        &:visited {
            color: @link-color;
        }
    }
}

.nav-menu {
    li:first-child a{
        padding-left: 0;
    }
}

.nav-languages {
    .pull-right;

    abbr {
        border-bottom: none !important;
    }

    a:hover,
    a:visited:hover {
        color: #fff !important;
        text-decoration: none;
    }
}

.lang-pt:hover {
    background: @base-color-pt;
}
.lang-en:hover {
    background: @base-color-en;
}
.lang-de:hover {
    background: @base-color-de;
}

article {
    header {
        margin-bottom: 30px;

        h1 {
            #Reset > .marginPadding;
        }
    }

    h1,
    h2,
    h3 {
        #Shadow > .text(@text-color-shadow, 1px, 1px, 0);
        color: @text-color-headings;
        font-weight: 400;

        + p {
            margin-top: 0;
        }
    }

    section h1,
    h2,
    h3 {
        //text-transform: uppercase;
        margin: 30px 0 10px;
    }

    a {
        &:hover {
            #Border > .rounded(1000px);
        }
        &:visited {
            color: @link-color-visited;
        }
    }

    abbr {
        position: relative;

        &:after,
        &:before {
            position: absolute;
            font-size: 13px;
            visibility: hidden;
            #Fx > .transition(all, 250ms);
            z-index: 15;
        }

        // the tooltip
        &:after {
            color: #fff;
            font-weight: 400;
            top: -20px;
            content: attr(title);
            left: -50%;
            white-space: nowrap;
            padding: 5px;
            #Border > .rounded;
        }

        // the arrow
        &:before {
            content: '';
            border: 7px solid transparent;
            top: 7px;
        }

        &:focus:after,
        &:hover:after {
            background: fade(#000, 75%);
            visibility: visible;
            top: -31px;
            #Shadow > .box-bottom;
        }

        &:focus:before,
        &:hover:before {
            border-top-color: fade(#000, 75%);
            visibility: visible;
            top: -3px;
        }
    }
}

footer {
    color: @text-color-light;
}

.social {
    #Reset > .marginPadding;

    li {
        margin-left: 10px;
    }

    li:first-child {
        margin-left: 0;
    }
}

.posts-list {
    #Reset > .marginPadding;
    margin-top: 20px;
    text-transform: uppercase;

    li {
        margin: 10px 0;
    }

    time {
        color: lighten(@text-color, 70%);
        margin-right: 10px;
    }
}

.post-date {
    color: lighten(@text-color, 50%);
    text-transform: uppercase;
    margin-right: 5px;

    time {
        color: @text-color;
    }
}

.post-tag {
    color: lighten(@text-color, 5%);
    padding: 1px 5px;
    margin-left: 4px;
    #Border > .rounded(2px);
    #Shadow > .text(#fff);
}

.pull-right {
    float: right;
}

.list-inline li {
    display: inline-block;
}

.list-nobullets {
    list-style: none;
    list-style-image: none;
}

.snippet {
    display: inline-block;
    font-size: 13px;
    padding: 5px;
    #Border > .rounded;

    code {
        display: inline-block;
        padding: 20px;
        color: lighten(@text-color, 20%);
    }
}

#share {
    text-align: right;
    margin-top: 30px;
    padding: 10px;
    background: fade(#fff, 55%);
    display: inline-block;
    #Border > .rounded;
    clear: both;

    a {
        margin-right: 10px;
    }
}

#disqus {
    #Border > .rounded;
    margin: 0px auto 50px;
    padding: 5px;
    background: fade(#fff, 55%);
}

#disqus_thread {
    padding: 20px;
}


#longerStory {
    position: absolute;
    visibility: hidden;
    top: 0; 
    left: -300px;
    border-top: 1px solid #ccc;
    opacity: 0;
    #Fx > .transition(all, 1s);

    &:target {
        left: 0;
        position: relative;
        visibility: visible;
        opacity: 1;
    }
}

.page-404 {
    font-size: 50px;
    text-align: center;

    + p {
        text-align: center;

        & img {
        width: 200px;
        height: 200px;
        border: 1px solid transparent;
        #Border > .rounded(1000px);
        #Shadow > .custom(0 0 0 10px fade(#000, 10%));
    }
    }
}

.circle {
    #Border > .rounded(50%);
}