@color-text-font: #444;
@color-header-bg: #fff;
@color-header-dark: #153042;

@icon-menu: &#9776;

@path-img: '/img';

@bg: #f5f5f5 url('@{path-img}/bg.png') 0 0 repeat;
@header-height-small: 150px;
@header-height-medium: 100px;
@header-height-big: 100px;

// font styles
#Font {
    .title() {
        font-family: 'Source Sans Pro', Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-weight: 300;
    }
    .text() {
        font-family: 'Imprima', Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-weight: 300;
    }
}

#Border {
    .rounded(@radius: 1000px) {
        -webkit-border-radius: @radius;
        border-radius: @radius;
    }
}

// background styles
#Bg {
    .linear(@colorStart, @colorEnd) {
        background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, @colorStart),
            color-stop(1, @colorEnd)
        );

        background-image: -o-linear-gradient(bottom, @colorStart 0%, @colorEnd 100%);
        background-image: -moz-linear-gradient(bottom, @colorStart 0%, @colorEnd 100%);
        background-image: -webkit-linear-gradient(bottom, @colorStart 0%, @colorEnd 100%);
        background-image: -ms-linear-gradient(bottom, @colorStart 0%, @colorEnd 100%);
        background-image: linear-gradient(to bottom, @colorStart 0%, @colorEnd 100%);
    }
}

// shadow styles
#Shadow {
    .box-bottom(@length: 5px, @blur: 3px, @color: #646464, @opacity: 50%) {
        // horizontal length, vertical length, blur radius, spread
        -webkit-box-shadow: 0 @length @blur 1px fade(@color, @opacity);
        -moz-box-shadow:    0 @length @blur 1px fade(@color, @opacity);
        box-shadow:         0 @length @blur 1px fade(@color, @opacity);
    }
    .custom(@arguments) {
        -webkit-box-shadow: @arguments;
        -moz-box-shadow:    @arguments;
        box-shadow:         @arguments;
        //-webkit-box-shadow: @length @length @blur 1px fade(@color, @opacity);
        //-moz-box-shadow:    @length @length @blur 1px fade(@color, @opacity);
        //box-shadow:         @length @length @blur 1px fade(@color, @opacity);
    }
    .text() {
        //filter: dropshadow(color=#333, offx=1, offy=1);
    }
}

// resetting styles
#Reset {
    .marginPadding() {
        margin: 0;
        padding: 0;
    }
}

.transition(@property: all, @time: 500ms, @easing: ease) {
    -webkit-transition: @property @time @easing;
    -moz-transition: @property @time @easing;
    -ms-transition: @property @time @easing;
    -o-transition: @property @time @easing;
    transition: @property @time @easing;
}
