/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width:700px) {
    //background: fade(#000, 50%) url('@{path-img}/pics/small/1.jpg') 0 -50px no-repeat;    
}

// big screens
@media only screen and (min-width: 1025px) {
    body {
      width: 1000px;
      margin: 0 auto;
    }

    .banner {
      font-size: 20px;

      h1 {
        font-size: 42px;
      }
    }

    #content {
        h1 {
          font-size: 2.6em;
        }
        h2 {
          font-size: 2.0em;
        }
        h3 {
          font-size: 1.5em;
        }

        footer p,
        footer .social {
          #Reset > .marginPadding;
          display: inline-block;
        }
    }

    .posts-list {
        #Reset > .marginPadding;
        font-size: 22px;
        margin-top: 20px;
    }

    .social {
      .pull-right;
    }
}

// medium screens
@media only screen and (min-width: 701px) and (max-width: 1024px) {
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}
