/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

// big screens
@media only screen and (min-width: 1025px) {
    body {
      width: 960px;
      margin: 0 auto 20px;
    }

    header[role="banner"] {
      font-size: 20px;

      h1 {
        font-size: 42px;
      }
    }

    article {
        h1 {
          font-size: 2.6em;
        }
        h2 {
          font-size: 2.0em;
        }
        h3 {
          font-size: 1.5em;
        }

        h1, h2, h3 {
          font-weight: 300;
        }
    }

    .posts-list {
        #Reset > .marginPadding;
        font-size: 26px;
        margin-top: 20px;
        text-transform: none;
    }
}

// from medium screens on
@media only screen and (min-width: 800px) {
    footer p,
    footer .social {
      #Reset > .marginPadding;
      display: inline-block;
    }

    .social {
      .pull-right;
    }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}
