/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width:700px) {
    //background: fade(#000, 50%) url('@{path-img}/pics/small/1.jpg') 0 -50px no-repeat;    
}

// big screens
@media only screen and (min-width: 1025px) {
    body {
        //width: 99%;
        margin: 0 auto;
    }

    .banner {
        max-width: 1280px;
        margin: auto;
        background: fade(#000, 50%) url('@{path-img}/pics/big/%banner_number%.jpg') 0 -100px no-repeat;    
    }

    
    #content {
        margin: 0 auto 0;
        padding: 3px;
        background: fade(#036, 10%);
        max-width: 1280px;
        //#Border > .rounded(4px);

        article {
            border: 1px solid fade(#000, 20%);
            background: fade(#fff, 75%);
            padding: 0 40px 40px 40px;
        }

        h1 {
          font-size: 2.6em;
        }
        h2 {
          font-size: 2.0em;
        }
        h3 {
          font-size: 1.5em;
        }
    }

    hr.footer {
      display: none;
    }
}

// medium screens
@media only screen and (min-width: 701px) and (max-width: 1024px) {
    .banner {
        background: fade(#000, 50%) url('@{path-img}/pics/medium/%banner_number%.jpg') 0 -100px no-repeat;    
    }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}
