<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ vars.language }}"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{page_title}}</title>
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/css/blog-0.0.1.css">
        <!--<script src="/js/vendor/modernizr-2.6.2.min.js"></script>-->
    </head>

    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <p class="hidden"><a href="#content">{{ lang.goToContent }}</a></p>

        <header role="banner" class="banner">
            <div id="me">
                <h1><img src="http://www.gravatar.com/avatar/196ca5d41814edad665c2ab14a8f5650?s=50" width="50"><a href="/{{ vars.language }}">Rodrigo Paiva <small>(rhpaiva)</small></a></h1>
            </div>

            <nav>
                <ul>
                    <li><a href="/{{ vars.language }}/whoami.html" title="{{ lang.whoAmI }}?">{{ lang.whoAmI }}?</a></li>
                    <li><a href="/{{ vars.language }}/archive.html" title="{{ lang.listOfPosts }}">{{ lang.archive }}</a></li>
                </ul>
            </nav>

            <!--<span class="menuIcon">&#9776;</span>-->
            <ul class="languages list-inline" role="navigation">
                <li><a href="/pt/" title="Versão em Português" class="lang-pt"><abbr title="Português">PT</abbr></a></li>
                <li><a href="/en/" title="English version" class="lang-en"><abbr title="English">EN</abbr></a></li>
                <li><a href="/de/" title="Version auf Deutsch" class="lang-de"><abbr title="Deutsch">DE</abbr></a></li>
            </ul>
        </header>

        <section id="content">
            <main>
                <article>
                    {% block page_title %}<h1>{{page_title}}</h1>{% endblock %}

                    {% block page_content %}{% endblock %}
                </article>
            </main>
            <hr class="footer">
            <footer>
                <ul class="list-inline">
                    <li>Facebook</li>
                    <li>Github</li>
                    <li>Linkedin</li>
                    <li>Xing</li>
                </ul>
            </footer>            
        </section>


        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
        <!--<script src="js/plugins.js"></script>-->
        <script src="/js/blog-0.0.1.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>        
    </body>
</html>
